<h1 class="mb-1 restaurant-show-title">{{error}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <img class="rounded mx-auto d-block w-100" src="/pictures/sorry.png" alt="{{error}}" style="max-width: 512px;">

    </div>
  </div>
</div>